# Loading Dataset

In [1]:
import pandas as pd

In [2]:
airlines = pd.read_csv('airlines.csv')

In [3]:
airlines.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [10]:
airports_df = pd.read_csv('airports.csv')

In [11]:
airports_df.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [6]:
planes = pd.read_csv('planes.csv')

In [7]:
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [14]:
weather_df = pd.read_csv('weather.csv')

In [15]:
weather_df.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

# Q1.

To find the northernmost airport in the United States using the airports.csv file from the nycflights13 dataset, we need to extract the latitude of each airport and find the maximum value.

In [12]:
northernmost_airport = airports_df.loc[airports_df['lat'].idxmax()]
print("The northernmost airport in the United States is", northernmost_airport['name'])
print("Latitude:", northernmost_airport['lat'], "Longitude:", northernmost_airport['lon'])

The northernmost airport in the United States is Dillant Hopkins Airport
Latitude: 72.270833 Longitude: 42.898333

# Q2

To find the easternmost airport in the United States using the airports.csv file from the nycflights13 dataset, we need to extract the longitude of each airport and find the minimum value.

In [13]:
easternmost_airport = airports_df.loc[airports_df['lon'].idxmin()]
print("The easternmost airport in the United States is", easternmost_airport['name'])
print("Latitude:", easternmost_airport['lat'], "Longitude:", easternmost_airport['lon'])

The easternmost airport in the United States is Adak Airport
Latitude: 51.878 Longitude: -176.646

# Q3

To determine which New York area airport had the windiest weather on February 12th, 2013, we can use the weather.csv file from the nycflights13 dataset. Specifically, we can filter the data to only include records from February 12th, 2013, and then find the airport with the highest wind speed.

In [16]:
weather_df = weather_df[weather_df['year'] == 2013]
weather_df = weather_df[weather_df['month'] == 2]
weather_df = weather_df[weather_df['day'] == 12]

windiest_airport = weather_df.loc[weather_df['wind_speed'].idxmax()]['origin']
print("On February 12th, 2013, the windiest New York area airport was", windiest_airport)

On February 12th, 2013, the windiest New York area airport was EWR